.container-land {
  width: 97vw;
  height: 84vh;
  position: relative;
  color: white;
  display: flex;
    align-items: center;
}

.text-container {
  position: relative;
  margin-right: 3rem; /* equivalent to 'mr-12' */
}

.image{
    background-image: url('/Users/niranjan/Downloads/aesthetix _gif.gif');
    background-size: cover;
    
}

.background-box {
  margin-left: 10%;
  width: 700px;
  height: 270px;
  background-color: #3e3e3e88; /* Tailwind 'bg-red-100' */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 10;
  
}

.text-content {
  margin-left: 10%;
  text-shadow: 2px 2px #383838;

  width: 700px;
  height: 100px;
  position: relative;
  display: flex;
  z-index: 20;
}

.submit-btns {
  background-color: rgb(224, 5, 5);
  color: white;
  border: rgb(224, 5, 5);
  margin-right: 1.8rem; /* adjusts 'mr-4' */
}

.submit-btns:hover {
  border: #a00000;

  background-color: #a00000; /* hover effect */
}

.submit-btns:last-child {
  margin-right: 0; /* removes margin for the last button */
}

.submit-btns1 {
  background-color: rgb(71, 71, 71);
  color: white;
  border: rgb(224, 5, 5);
  margin-right: 1.8rem; /* adjusts 'mr-4' */
}

.submit-btns1:hover {
  border: #a00000;

  background-color: #a00000; /* hover effect */
}

.submit-btns:last-child {
  margin-right: 0; /* removes margin for the last button */
}


.text-1{
  font-size: 40px;
  margin-top: 45px;

  margin-left: 55px;
}

.text-2{
  margin-left: 55px;
  margin-top: 15px;
  font-size: 25px;
}

.btns{
  margin-left: 55px;
  margin-top: 30px;
}

.margine{
  margin-left: 20px;
}

.su{
  border-style: solid;
  border-width: 3px;
  border-color: #df0303;
}

.submit-btnc {
    background-color: rgb(224, 5, 5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 190px;
    height: 50px;
    border-style: groove;
    border: 3px solid #d40000;
    font-size: 18px;
}

.submit-btnc:hover {
    background-color: #d40000;
    color: white;
    transition-duration: 0.25s;
}

.submit-btnk {
    background-color: rgb(224, 5, 5);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 1.5rem;
    cursor: pointer;
    width: 190px;
    height: 50px;
    border-style: groove;
    border: 3px solid #d40000;
    font-size: 18px;
}

.submit-btn:hover {
    background-color: #d40000;
    color: white;
    transition-duration: 0.25s;
}