.mainNav{
    display: flex;
    align-items: center;
    height: 70px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
}

.logo{
    height: 50px;
    width: 100%;
    position: relative;
    left: 80px;
}

.block_1{
}

.block_2{
    display: flex;
    margin-left: auto;
    padding: 50px;
    
}

.butt{
    font-family: "Open Sans", sans-serif;
    padding: 0px 20px;
    font-weight: 400;
}