.cunt{
    display: flex;
    align-items: center;
    height: 70px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.37);
    margin-left: 10px;
    margin-right: 10px;

}

.block_1{
}

.block_2{
    display: flex;
    margin-left: auto;

}

.butt{
    padding: 10px;
}